PORT=5002
NODE_ENV=development
MONGO_URI=mongodb+srv://info_db_user:ydQW98pU84Eei1SA@toplink.cky9oyd.mongodb.net/?appName=Toplink
JWT_SECRET=ToplinkSecretKey1234@334343
JWT_EXPIRES_IN=30d
PAYSTACK_PUBLIC_KEY=pk_test_00eac19d817c9c0f440d235edfadd75f493c2f58
PAYSTACK_SECRET_KEY=sk_test_5bb944eb9e6f3e6bd67b6f3393549fe70fcea2a9
PAYSTACK_CALLBACK_URL=http://localhost:5173/payment/success
ADMIN_EMAIL=admin@toplinksecurity.com
ADMIN_PASSWORD=C.Musanya@2026

CLOUDINARY_CLOUD_NAME=dkarenv9m
CLOUDINARY_API_KEY=346874898748676
CLOUDINARY_API_SECRET=Asi7nIfyn4tlYply7o2OekVC-m0

RESEND_API_KEY=re_bvJgXKAg_6EMsfGJ9sUFHKEkMZ7EjX8xA

FROM_EMAIL=updates@excel.toplinksecurity.com
FROM_NAME=Cyprian From TopLink
CLIENT_URL=http://localhost:5173